@using MudBlazorDashboard.Services
@using MudBlazorDashboard.Services.Dtos

<MudPaper Elevation="2" Class="pa-4" Style="height: 100%;">
    <MudText>Top 10 Customers @DateTime.Now.ToString("MMMM yyyy")</MudText>
    @if (_isLoaded)
    {            
        <MudSimpleTable Dense="true" Hover="true">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < _top10CustomersOfMonth.Count; i++)
                {
                    var customer = _top10CustomersOfMonth[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@customer.CustomerName</td>
                        <td style="text-align: right;">@customer.Total.ToString("$#,#.00")</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
    else
    {
        <MudProgressCircular Color="Color.Info" Indeterminate="true" /> 
    }
</MudPaper>

@code {
    private bool _isLoaded = false;
    private List<CustomerSales> _top10CustomersOfMonth = new List<CustomerSales>();

    protected override async Task OnInitializedAsync()
    {
        if (RendererInfo.IsInteractive)
        {
            var reportService = new ReportService();
            _isLoaded = false;
            _top10CustomersOfMonth = await reportService.GetTop10CustomersOfMonth();
            _isLoaded = true;
        }
    }
}
